body{
    width: 100vw;
    height: 100vh;
    font-size: 28px;
}

.ma{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.main1{
    background-color: yellow;
    
    display: grid;
}

.main2{
    background-color: white;
 
}

.main3{
    background-color: blue;
    
}

p {
    background-color: black;
    color: red;
    margin: 10px;
}
a{
    margin: 10px;
}